.react-daterange-picker {
  height: 48px;
  width: 100%;

  & input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  & input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__calendar--closed {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  &__range-divider {
    //flex: 1;
  }

  &__inputGroup {
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    background: var(--tgui--section_bg_color);
    border-radius: 12px;
    flex: 1;
  }
}

.react-calendar {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  padding: 16px;
  background: var(--tgui--section_bg_color);
  border: 1px solid var(--tg-theme-section-separator-color);

  &__navigation {
    display: flex;
    height: 45px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--tgui--outline);

    &__arrow {
      //width: 30px;
      height: 40px;
      width: 40px;
    }

    & > button {
      background: none;
      border: none;
      color: var(--tgui--text_color);
      cursor: pointer;
      border-radius: 5px;
      &:hover {
        background: var(--tgui--outline);
      }
    }
  }

  &__month-view__weekdays__weekday {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    &--weekend {
      color: var(--tgui--destructive_text_color);
      & > abbr {

      }
    }

    & > abbr[title] {
      text-decoration: none;
      font-size: 14px;
    }
  }

  &__month-view__days {
    &__day {
      &[disabled] {
        border-radius: 0;
        opacity: 0.5;
        background: none !important;
      }
      &--neighboringMonth {
        opacity: 0.5;
      }
    }
  }
  
  &__tile {
    height: 35px;
    border-radius: 5px;
    background: none;
    color: var(--tgui--text_color);
    border: none;
    cursor: pointer;

    &:hover {
      //background: var(--tgui--tertiary_bg_color);
      color: var(--tgui--text_color);
    }

    &--active {
      background: var(--tgui--accent_text_color);
      color: var(--tgui--button_text_color);
      &:hover {
        background: var(--tgui--accent_text_color);
      }
    }

    &--hover {
      border-radius: 0;
      background: var(--tgui--accent_text_color);
    }

    &--range {
      border-radius: 0;
    }

    &--rangeStart {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &--rangeEnd {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &--hoverStart {
      border-radius: 5px 0 0 5px;
    }

    &--hoverEnd {
      border-radius: 0 5px 5px 0;
    }

    &--hoverBothEnds {
      border-radius: 5px;
    }
  }
}